.institute-sec h2, .pillar-success h2, .founder h2, .about-pr h2  {
    font-size: 50px;
    font-weight: 600;
}
.institute-sec h2 span, .pillar-success h2 span, .founder h2 span, .about-pr h2 span{
    color: #137ac3;
}
.pillar-success p{
    font-weight: 400;
}
.pillar-success ul li{
    color: #676e7e;
    font-size: 14px;
    padding:10px 0px;
}
.pillar-success ul li b{
    color: #000000;
    font-weight: 500;
}
.sub-list li{
    padding:3px 0px !important;
}
.pillar-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
.pillar-title::before, .pillar-title::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #137ac3;
}
.founder-img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1b1e23;
}
.founder-img h5{
    font-size: 13px;
}
.text-sec{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 18px;
    color: #6d7483;
}
.txt-yllow{
    color: #f4c63b !important;
}
.why-choose p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #828895;
}
.why-choose h6{
    color: #828895;
}
.career-benefit ul li{
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 10px;
    color: #828895;
    list-style: disc;
}
.career-benefit ul li::marker {
    color: #f4c63b;
    font-size: 1.3em;
}
.career-benefit h3{
    font-size: 35px;
    font-weight: 500;
}
.career-benefit h6{
    color:#67743d;
    font-weight: 600;
    position: relative;
}
.career-benefit h6::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: linear-gradient(
      to right,
      #67743d 0%,
      #67743d92 50%,
      #f4c63b 80%,
      #ffffff 100%
    );
    right: 0; /* stretches to container width */
  }
@media screen and (max-width: 768px) {
    .institute-sec h2, .pillar-success h2, .founder h2, .about-pr h2 {
      font-size: 35px;
    }
  }
