.faq-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.faq-title::before,
.faq-title::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #137ac3;
}
.faq-sec h2 {
    font-size: 50px;
    font-weight: 600;
  }
.faq-container{
    max-width:800px;
    margin:auto;
}
.faq-item{
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    margin :0 10px 15px 10px;
    overflow:hidden;
}
.faq-question{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    cursor:pointer;
    font-size:18px;
    font-weight:500;
}
.arrow{
    font-size:22px;
    transition:0.3s ease;
    margin: 0 10px;
}
.faq-item.active .arrow{
    transform:rotate(180deg);
}
.faq-answer{
    max-height:0;
    overflow:hidden;
    padding:0 20px;
    line-height:1.8;
    transition:max-height 0.4s ease, padding 0.4s ease;
}
.faq-item.active .faq-answer {
    max-height: 1000px;
    padding: 0 20px 20px;
  }
@media screen and (max-width: 768px) {
    .faq-sec h2 {
      font-size: 35px;
    }
  }

