.padma-active{
    background-color: #3a79f7;
    color:#ffffff !important;
    border-radius: 8px;
    padding:6px 10px !important;
}
.student-login{
    background-color: #fd0101;
    color:#ffffff !important;
    border-radius: 8px;
    padding:6px 10px !important;
}
.teacher-login{
    background-color: #3a79f7;
    color:#ffffff !important;
    border-radius: 8px;
    padding:6px 10px !important;
}
.padma_hero{
    background: url(../image/padma-bnnr.jpeg) center/cover no-repeat;
    padding: 200px 0;
}
.p_hero-title {
    font-size: 70px;
}
.p_hero-title span{
    color: #3a79f7;
}
.p_title_before {
    font-size: 28px;
    font-weight: 400;
    border-radius: 30px;
    width: fit-content;
    background-color: #313e58;
    border:1px solid #7e7e7e;
}
.p_title_after {
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
}
.explore_courses_btn{
    background-color: #3a79f7;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
}
.our_program h4{
    color: #3a79f7;
    font-size: 24px;
    font-weight: 600;
}
.our_program h2{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
    color:#000000;
}
.our_program h2 span{
    color: #3a79f7;
}
.title-line{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.title-line span{
    flex: 1;
    height: 2px;
    position: relative;
    top: -4px;
}
.title-line span:first-child{
    background: linear-gradient(to left, #939393, #ffffff);
}
.title-line span:last-child{
    background: linear-gradient(to right, #939393, #ffffff);
}
.title-line h2{
    margin: 0;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
}
.courses_item{
    border: 1px solid #d0d0d0;
    border-radius: 20px;
}
.courses_item_bnnr{
    background: url(../image/courses-bg.png) center/cover no-repeat;
    padding: 20px 10px;
    border-radius: 20px 20px 0 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.courses_item_bnnr h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}
.course-typ a{
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #000000;
    font-size: 15px;
    text-align: center;
}
.view_details{
    border:1px solid #000000;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
}
.book_now{
    background-color: #3a79f7;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
}
.padma_footer ul li a{
    color: #ffffff;
}
.padma_footer ul li a i{
    margin-right: 10px;
}

@media(max-width:768px){
    .p_title_before {
        font-size: 20px;
    }
    .p_hero-title {
        font-size: 45px;
    }
    .p_title_after {
        font-size: 18px;
        line-height: 25px;
    }
    .explore_courses_btn {
        font-size: 20px;
    }
    .our_program h2 {
        font-size: 45px
    }
    .our_program h4 {
        font-size: 20px;
    }
    .title-line h2{
        font-size: 22px;
        letter-spacing: -1px;
    }
    .courses_item_bnnr h3 {
        font-size: 26px;
    }
    .courses_item_bnnr h5, .view_details, .book_now{
        font-size: 16px;
    }
    .course-typ a {
        font-size: 14px;
    }
}
